<html>
<head>
  <title>undex</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='/static/korah.min.js'></script>
  <link rel='stylesheet' href='/static/style.css'/>
  <style>
#map {
  width: 100%;
  height: 30em;
}
  </style>
</head>
<body>
  <h1>undex</h1>
  <h2>the unoccupied index</h2>

  <div id='constraints'></div>
  <button id='submit'>Find</button>
  <div class='floatright'>
    <center><span id='cursor'>0</span>/<span id='num-results'>0</span> results<br/></center>
    <button id='prev'>Prev</button>
    <button id='next'>Next</button>
  </div>
  <hr/>
  <div id="map"></div>
  <div id='results'></div>
  <div id='radii'></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdh5RdEECP7SE1AvSc_0g3BNO632t_Ghk"></script>
  <script>
var Shown   = {};
var Circles = {};
var Places  = {};
var Markers = [];
var TYPES = {
    'Electronics Stores': 'electronics_store',
    'ATMs':               'atm',
    'Places of Worship':  'place_of_worship',
    'Bars':               'bar',
    'Landmarks':          'point_of_interest',
    'Banks':              'bank',
    'Lodgings':           'lodging',
    'Food':               'food',
    'Stores':             'store',
    'Establishments':     'establishment',
    'Restaurant':         'restaurant',
    'Theatres':           'movie_theater',
    'Museums':            'museum',
    'Park':               'park',
    'University':         'university',
};

var constraints = {};
var $_ = document.querySelector.bind(document);

console.log($_);

function getAvailableConstraints() {
  return Object.keys(TYPES)
    .filter(text => !(TYPES[text] in constraints))
    .map(text => kr('option', {'value': TYPES[text]}, text));
}

function createInputRow() {
  var input_row = kr('div');
  var select = kr('select', getAvailableConstraints());

  var btn = kr.button('+');
  var input = kr.input({
    'type': 'number',
    'step': 'any',
    'placeholder': 'Distance from (m)',
  });
  var checkbox = kr.input({'type': 'checkbox'});
  var prevId = null;

  var onChangeView = function() {
    if (prevId) {
      Shown[prevId] = null;
      delete constraints[prevId];
    }
    var id = select.options[select.selectedIndex].value;
    input.setAttribute('attr-id', id);
    constraints[id] = +input.value;
    Shown[id] = checkbox.checked;
    if (checkbox.checked) {
      showMarkers(Places[id]);
      showMarkers(Circles[id] || []);
    } else {
      hideMarkers(Places[id]);
      hideMarkers(Circles[id] || []);
    }
    prevId = id;
  };

  checkbox.addEventListener('change', onChangeView);
  select.addEventListener('change', onChangeView);

  input_row.appendChild(input);
  input_row.appendChild(select);
  input_row.appendChild(checkbox);
  input_row.appendChild(btn);

  input.addEventListener('change', function() {
    var id = select.options[select.selectedIndex].value;
    constraints[id] = +input.value;
  });

  btn.addEventListener('click', function() {
    var id = select.options[select.selectedIndex].value;
    var elem = select.children[select.selectedIndex];
    select.innerHTML = '';
    select.appendChild(elem);
    input_row.removeChild(btn);

    var deleteBtn = kr.button('-');
    deleteBtn.addEventListener('click', function() {
      delete constraints[id];
      var length = $_('#constraints').children.length;
      var select = $_('#constraints').children[length - 1].children[1];
      select.innerHTML = '';
      getAvailableConstraints().forEach(li => {
        select.appendChild(li);
      });
      $_('#constraints').removeChild(input_row);
      hideMarkers(Places[id]);
      hideMarkers(Circles[id] || []);
      Shown[id] = false;
    });

    input_row.appendChild(deleteBtn);
    createInputRow();
  });

  $_('#constraints').appendChild(input_row);
}

createInputRow();

function clearOverlays() {
  for (var i = 0; i < Markers.length; i++ ) {
    Markers[i].setMap(null);
  }
  Markers.length = 0;
}

function hideMarkers(a) { a.forEach(m => m.setMap(null)); }
function showMarkers(a) { a.forEach(m => m.setMap(map)); }

function renderEmpty(e) {
  return kr.div({"class": "result"}, [
    kr.span({"class": "address"}, e.address),
    kr.span({"class": "postcode"}, e.postcode),
  ]);
}

$.getJSON('/static/centers.json', function(data) {
  Object.keys(data).forEach(function(type) {
    data[type].forEach(a => {
      var pos = a.geometry.location;
      var marker = new google.maps.Marker({
        position: pos,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      });
      Places[type] = Places[type] || [];
      Places[type].push(marker);

      var infowindow = new google.maps.InfoWindow({
        content: "<h1>" + a.name + "</h1><p>Rating: " + a.rating + "</p>",
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    });
  });
});

function plotRadii(radii) {
  Object.keys(radii).forEach(t => {
    Places[t].forEach(function(place) {
      var cityCircle = new google.maps.Circle({
        strokeColor: '#99bbff',
        strokeOpacity: 0.50,
        strokeWeight: 2,
        fillColor: '#99bbff',
        fillOpacity: 0.05,
        center: { lat: place.position.lat(), lng: place.position.lng() },
        radius: radii[t],
      });

      if (!Circles[t]) {
        Circles[t] = [];
      }
      if (Shown[t]) cityCircle.setMap(map);
      Circles[t].push(cityCircle);
    });
  });
}

function handleResponse(solution, radii) {
  Object.keys(radii).forEach(id => {
    $('input[attr-id="'+id+'"]').val(radii[id]);
  });
  if (solution.length == 0) {
    return;
  }
  cursor = 0;
  $('#cursor').text(cursor+1);
  $('#num-results').text(solution.length);
  centerAtMark(Markers[0]);
}

$_('#submit').addEventListener('click', function() {
  var o = {};
  Object.keys(constraints).forEach(function(id) {
    if (+constraints[id] > 0) {
      o[id] = +constraints[id];
    }
  });
  var u = "/query?" + $.param(o);
  $.getJSON(u, function(data) {
    clearOverlays();
    Object.keys(Circles).forEach(function(id) {
      hideMarkers(Circles[id]);
    });
    Circles = {};
    var results = $_('#results');
    results.innerHTML = '';
    plotRadii(data.radii);
    data.solution.forEach(function(e) {
      var position = { lat: e.loc[0], lng: e.loc[1] };
      var marker = new google.maps.Marker({
        position: position,
        map: map
      });
      Markers.push(marker);
      marker.setMap(map);

      var infowindow = new google.maps.InfoWindow({
        content: "<p>" + e.raw.display_name + "</p>",
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
        centerAtMark(marker);
      });
    });
    handleResponse(data.solution, data.radii);
  });
});

function centerAtMark(mark) {
  map.setCenter({
    lat: mark.position.lat(),
    lng: mark.position.lng(),
  });
  map.setZoom(20);
}

var cursor = 0;
$('#prev').on('click', function() {
  cursor = (cursor - 1) % Markers.length;
  centerAtMark(Markers[cursor]);
  $('#cursor').text(cursor+1);
});
$('#next').on('click', function() {
  cursor = (cursor + 1) % Markers.length;
  centerAtMark(Markers[cursor]);
  $('#cursor').text(cursor+1);
});
  </script>
  <script>
var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 54.7, lng:-1.57},
  zoom: 13,
  scaleControl: true,
});
$.getJSON('/static/map-style.json', function(style) {
  map.setOptions({styles: style});
});
  </script>
</body>
</html>
